/* Selector Universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Select ID */
#contenedor {
    width: 900px;
    height: 1000px;
    background-color:  rgb(230,200,149);
}

#encabezado {
height: 15%;
background-color: rgb(230,200,149);

}

#menu{
    height: 5%;
    background-color: rgb(171,161,134);
    

}
#contenido{
    height: 64%;
    width: 64%;
    background-color: rgb(151,158,54);
    float: left;
}
#fueraSeccion{
    height: 64%;
    width: 35%;
    background-color: rgb(190,193,79);
    float: right;
}
#pie{
    height: 10%;
    background-color:  rgb(230,200,149);
    border-radius: 1em;
    
}
/* Selector de clase */

.texto{
    text-align: justify;
    font-family: Tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}
.border {
    border: solid 5px #333;
    text-align: justify;
    margin: 20px;
    }

.logo img{
    height: 60px;
    cursor: pointer;
}
.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
img{
   
}
.img1{
    margin-top: 100px;
    display: inline;
    height: 100px;
    width: 100px;
    left: 100%;
    border: 1px solid #ddd;
    margin-left:45px;
    margin-right: 45px;
}
.img2{
    margin-top: 100px;
    display: inline;
    height: 100px;
    width: 100px;
    margin-left:42px;
    margin-right: 45px;
    
    border: 1px solid #ddd;
}
.img3{
    margin-top: 100px;
    display: inline;
    height: 100px;
    width: 100px;
    margin-left:42px;
    margin-right: 42px;
    border: 1px solid #ddd;
}


/* Selecto de etiqueta */
ul {
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}


